{% extends "admin_base.html" %}
{% block content %}
<h1>Пароль</h1> <input id="password" type="password">
<div style="display:flex;">
<div style="height:70vh; overflow-y:auto; width:40vw;">
    <h2>Управление пользователями</h2>

    {% for user in user_list %}
    <div class="alert alert-secondary">
        <h5>имя</h5>
        {{user.name}}
        <h5>USERNAME</h5>
        {{user.email}}(id_user: {{user.id}})
        <button class="btn btn-secondary" onclick="delete_user({{user.id}})">Удалить</button>
    </div>
    {% endfor %}
</div>
<div>
    <h2>Активность других администраторов</h2>
    <div class="block-panel">
    <ul class="list-group">
    {% for i in range(activiti_list|length) %}
<li class="list-group-item">
    {{activiti_list[i][0]}}
    {{activiti_list[i][1]}}
    id {{activiti_list[i][3]}}
</li>
    {% endfor %}
    </ul>
    </div>
</div>
<div>
    <h2>Последнии действия администраторов</h2>
    <ul class="list-group block-panel">
        {% for action in actions %}
        <li class="list-group-item">
            кто: {{action.id_user}}
            что натворил:
            {{action.about}}
            когда
            {{action.time}}
        </li>
        {% endfor %}
    </ul>
</div>
</div>
<div>
    <h2>Голосования</h2>
    <div style="display: flex;">
        {% for voting in votings %}
        <div class="alert alert-info voting" role="alert" >
            id user
            {{voting.id_user}}
            <h4>Описание к голосованию</h4>
             <p>{{voting.text}}</p>
            Разрешения
            <ul>
            {% for i in range(permissions|length) %}
                    {% if (i + 1)| string in voting.permissions.split() %}

                    <li class="list-group-item">
                        {{permissions[i + 1]}}
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            <button class="btn btn-success" onclick="send_admin_voting(true, {{voting.id}})">за</button>
            <button class="btn  btn-danger" onclick="send_admin_voting(false, {{voting.id}})">против</button>
        </div>
        {% endfor %}
    </div>
    <div>
        <h4>Назначение новых администраторов, удаление, расширение, отзыв прав</h4>
        <ul>
            {% for admin in activiti_list %}
            <li>
                {{admin.name}}
                разрещения
                <ol>
                    {% for i in range(permissions|length) %}
                    {% if (i + 1)| string in admin.permissions.split() %}
                    <li class="list-group-item">
                        {{permissions[i + 1]}}
                    </li>
                    {% endif %}
                    {% endfor %}
                </ol>
            </li>
            {% endfor %}
        </ul>
        <div>
            <form method="post" class="form">
                <h2>Изменение прав</h2>
                <label>id admin</label>
                <input name="id_admin">
                            <label for="text">Описание к голосованию</label>
            <textarea name="text" id="text"></textarea>
                <h2>Права</h2>
                {% for i in range(permissions|length) %}
                <input name="p{{i + 1}}" type="checkbox" ><label>{{permissions[i + 1]}}</label><br>
                {% endfor %}
                <input type="submit" class="info-btn btn-primary" value="Отправить на голосование">
            </form>
        </div>

        <button class="info-btn btn-primary" onclick="show_no_admin()">Назначить нового администратора</button>
        <ul class="list-group:" id="new_admins"></ul>
        name new admin
        <input id="name_new_admin">
    </div>
</div>
<div>
    <h3>Блокировка страниц</h3>
    <label>код страницы</label>
    <input id="block_cod">
    <button class="btn btn-danger" onclick="send_block_page()">Заблокировать</button>
    <button class="btn btn-success" onclick="send_unblock_page()">Разблокировать</button>
    <h4>Заблокированные страницы</h4>
    <ul>
        {% for block in block_pages %}
        <li>{{block}}</li>
        {% endfor %}
        {% if block_pages|length == 0 %}
        нет заблокированных страниц
        {% endif %}
    </ul>
</div>
<script src="/static/javascript/panel/panel.js"></script>
{% endblock %}
